#aform{
    margin: 0 auto;
    padding: 0 8;
}
#detail-form label{
    font-weight: 600;

}
#detail-form input,select,textarea{
    padding: 2px;
    border-radius: 4px;
    border: 2px solid gray;
}
#aform div{
    margin: 10px;
}
.form-group textarea{
    width:400px;

}
#detail-form select{
    width: 200px;
}
.form-group input[type="submit"]{
    background-color: blueviolet;
    color: beige;
    width: 60px;
    cursor: pointer;
}